<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <div>
        <h1>{{items.name}}</h1>
    </div>
    <div>
        <p>People who also want this item:</p>
        {% for user in users %}
        <ul>
            <li>{{user.name}}</li>
        </ul>
        {% endfor %}
    </div>
    <div>
        <a href="/dashboard/">Home</a>  |  <a href="/">Logout</a>
    </div>
</body>
</html>